In [272]:
import pandas as pd

# RECOVER DATASETS SPAIN

In [273]:
spain_global = pd.read_csv('data/spain_global.csv')

In [274]:
spain_global.head()

,project,type,country,unit,status,capacity,start_year,owner,lat,lng,url,aacc
0,Aboño power station,coal,Spain,Unit 1,operating,360.0,1974.0,HC Energia,43.55356,-5.72185,https://www.gem.wiki/Abo%C3%B1o_power_station,Asturias
1,Aboño power station,coal,Spain,Unit 2,operating,556.2,1985.0,HC Energia,43.55356,-5.72185,https://www.gem.wiki/Abo%C3%B1o_power_station,Asturias
2,Alcúdia power station,coal,Spain,Phase 2 Unit 1,retired,125.0,1981.0,GESA-Endesa,39.81075,3.09141,https://www.gem.wiki/Alcúdia_power_station,Baleares
3,Alcúdia power station,coal,Spain,Phase 2 Unit 2,retired,125.0,1982.0,GESA-Endesa,39.81075,3.09141,https://www.gem.wiki/Alcúdia_power_station,Baleares
4,Alcúdia power station,coal,Spain,Phase 2 Unit 3,operating,130.0,1997.0,GESA-Endesa,39.81075,3.09141,https://www.gem.wiki/Alcúdia_power_station,Baleares

In [275]:
gen = pd.read_csv('data/df_generated_monthly_ccaa.csv')

In [276]:
gen.head()

,Unnamed: 0,class,type,date,value,percentage,aacc
0,0,Hidráulica,Renovable,2014-01-01,303.396,0.000421,Canarias
1,1,Motores diésel,No-Renovable,2014-01-01,181768.586,0.251957,Canarias
2,2,Turbina de gas,No-Renovable,2014-01-01,26245.404,0.036380,Canarias
3,3,Turbina de vapor,No-Renovable,2014-01-01,216697.507,0.300373,Canarias
4,4,Ciclo combinado,No-Renovable,2014-01-01,247173.544,0.342618,Canarias

In [277]:
demand = pd.read_csv('data/year_demand.csv')

In [278]:
demand.head()

   Unnamed: 0    class  type        date        value  percentage       aacc
0           0  Demanda   NaN  2014-01-01   721426.992           1   Canarias
1           1  Demanda   NaN  2014-01-01   424810.960           1   Baleares
2           2  Demanda   NaN  2014-01-01    18805.790           1      Ceuta
3           3  Demanda   NaN  2014-01-01    17999.596           1    Melilla
4           4  Demanda   NaN  2014-01-01  3406748.087           1  Andalucía

In [312]:
global_web = pd.read_csv("starting_data/global/global_web.csv")

C:\Users\psaez\AppData\Local\Temp\ipykernel_45828\925216994.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  global_web = pd.read_csv("starting_data/global/global_web.csv")

In [318]:
global_web.sample()

,project,type,country,unit,status,capacity,start_year,owner,lat,lng,url
50652,SunZia Wind,wind,United States,MW,pre-construction,3500.0,2026.0,Pattern Energy,34.3284,-105.6009,https://gem.wiki/SunZia_Wind

## CLEANING DATA

#### 1- MATCH AUTONOMOUS COMMUNITIES

In [279]:
gen.sample()

,Unnamed: 0,class,type,date,value,percentage,aacc
60,60,Carbón,No-Renovable,2014-01-01,18014.26,0.007589,Castilla_la_Mancha

In [280]:
demand.sample()

    Unnamed: 0    class  type        date        value  percentage       aacc
23          23  Demanda   NaN  2015-01-01  3485428.721           1  Andalucía

In [281]:
spain_global.sample()

,project,type,country,unit,status,capacity,start_year,owner,lat,lng,url,aacc
952,Peñalba solar farm,solar,Spain,NaN,pre-construction,44.0,NaN,Libienergy Energías SL,41.5325,0.3532,https://gem.wiki/Peñalba_solar_farm,Aragon

In [282]:
spain_global.rename(columns={'ccaa':'aacc'}, inplace = True)

In [283]:
spain_global.sample()

,project,type,country,unit,status,capacity,start_year,owner,lat,lng,url,aacc
776,Lepe solar farm,solar,Spain,NaN,pre-construction,90.0,NaN,Ence Energía y Celulosa,37.3104,-7.2522,https://gem.wiki/Lepe_solar_farm,Andalucia

In [284]:
gen.sample()

,Unnamed: 0,class,type,date,value,percentage,aacc
539,539,Generación total,Generación total,2017-01-01,18568.292,1.0,Melilla

In [285]:
gen.rename(columns={"comunidad":'aacc'}, inplace = True)

In [286]:
gen.sample()

,Unnamed: 0,class,type,date,value,percentage,aacc
172,172,Turbina de vapor,No-Renovable,2015-01-01,202134.491,0.27755,Canarias

In [287]:
gen['aacc'].unique()

array(['Canarias', 'Baleares', 'Ceuta', 'Melilla', 'Andalucía', 'Aragón',
       'Cantabria', 'Castilla_la_Mancha', 'Castilla_León', 'Cataluña',
       'País_Vasco', 'Asturias', 'Madrid', 'Navarra', 'Valenciana',
       'Extremadura', 'Galicia', 'La_Rioja', 'Murcia'], dtype=object)

In [288]:
demand['aacc'].unique()

array(['Canarias', 'Baleares', 'Ceuta', 'Melilla', 'Andalucía', 'Aragón',
       'Cantabria', 'Castilla_la_Mancha', 'Castilla_León', 'Cataluña',
       'País_Vasco', 'Asturias', 'Madrid', 'Navarra', 'Valenciana',
       'Extremadura', 'Galicia', 'La_Rioja', 'Murcia'], dtype=object)

In [289]:
spain_global['aacc'].unique()

array(['Asturias', 'Baleares', 'Castilla-Leon', 'Galicia', 'Andalucia',
       'Cataluña', 'Cantabria', 'Aragon', 'Pais Vasco',
       'Castilla-La Mancha', 'La Rioja', nan, 'Canarias', 'Murcia',
       'Navarra', 'Valencia', 'Madrid', 'Melilla', 'Extremadura'],
      dtype=object)

In [290]:
aacc_dicc = {'Castilla-Leon': 'Castilla_León', 
             'Andalucia':'Andalucía','Aragon':'Aragón',
            'Pais Vasco':'País_Vasco',
             'Castilla-La Mancha':'Castilla_la_Mancha', 
             'La Rioja':'La_Rioja',
             'Valenciana':'Valencia' }

In [291]:
spain_global['aacc'] = spain_global['aacc'].replace(aacc_dicc)

In [292]:
demand['aacc'] = demand['aacc'].replace(aacc_dicc)

In [293]:
gen['aacc'] = gen['aacc'].replace(aacc_dicc)

#### 2- 'date' columns to datetype

In [294]:
gen['date'] = pd.to_datetime(gen['date'])

In [295]:
demand['date'] = pd.to_datetime(demand['date'])

#### 3- type  of energy

In [296]:
spain_global.sample()

,project,type,country,unit,status,capacity,start_year,owner,lat,lng,url,aacc
531,El Bonillo solar farm,solar,Spain,NaN,operating,20.0,2008.0,Deutsche Bank,38.9167,-2.5505,https://gem.wiki/El_Bonillo_solar_farm,Castilla_la_Mancha

In [297]:
gen.sample()

,Unnamed: 0,class,type,date,value,percentage,aacc
1337,1337,Otras renovables,Renovable,2021-01-01,32446.143,0.010621,Galicia

In [322]:
global_web['type'].unique()

array(['coal', 'oil_gas', 'solar', 'wind', 'hydropower', 'geothermal',
       'bioenergy', 'nuclear'], dtype=object)

In [303]:
spain_global['type'].unique()

array(['coal', 'oil_gas', 'solar', 'wind', 'hydropower', 'bioenergy',
       'nuclear'], dtype=object)

In [299]:
gen['class'].unique()

array(['Hidráulica', 'Motores diésel', 'Turbina de gas',
       'Turbina de vapor', 'Ciclo combinado', 'Hidroeólica', 'Eólica',
       'Solar fotovoltaica', 'Otras renovables', 'Generación total',
       'Carbón', 'Cogeneración', 'Residuos no renovables',
       'Residuos renovables', 'Turbinación bombeo', 'Solar térmica',
       'Nuclear', 'Fuel + Gas'], dtype=object)

 we will try to unify as much as possible energies from gen dataframe and spain_global so , in order to do so we will:
 
     - change the name of the column 'type' in spain_global to class
     - consider both 'Solar Fotovoltaica' and 'Solar térmica' as 'solar'
  on the other hand we will create a dicctionary to replace names and unify whenever possible

In [231]:
spain_global.rename(columns ={'type':'class'}, inplace = True)

In [300]:
energy_dicc = {
    'Solar fotovoltaica':'solar',
    'Solar térmica': 'solar',
    'Hidroeólica':'hydropower',
    'Eolica': 'wind',
    'Carbón' : 'coal',
    'Nuclear' : 'nuclear',
    'Motores diésel':'oil_gas',
    'Turbina de gas':'oil_gas',
    'Turbina de vapor':'oil_gas',
    'Ciclo combinado':'oil_gas',
    'Otras renovables' : 'bioenergy',
    'Generación total' : 'others',
    'Cogeneración' : 'oil_gas',
    'Residuos no renovables': 'coal',
    'Residuos renovables':'bioenergy',
    'Turbinación bombeo':'hydropower',
    'Fuel + Gas' : 'oil_gas'
    }

In [301]:
gen['class'] = gen['class'].map(energy_dicc)

In [302]:
gen.sample()

      Unnamed: 0  class       type       date  value  percentage      aacc
1123        1123  solar  Renovable 2020-01-01  25.78    0.000025  Asturias

#### 4- units

According to the REE API, units for their values are MWh. In `spain_global`, not always are units given, and if they are, they are in MW. Therefore, to convert from MW to MWh, we simply need to multiply by the number of hours. As all requests to REE have been made for each month, we will multiply the capacity in `spain_global` by 720 (30 days * 24 hours) to unify units. After that, we will standardize all units to MWh in all dataframes for better understanding.

In [304]:
spain_global['capacity'] = spain_global['capacity'] * 720

In [323]:
global_web['capacity'] = global_web['capacity'] * 720

In [324]:
gen['unit'] = 'MWh'
demand['unit'] = 'MWh'
spain_global['unit'] = 'MWh'
global_web['unit'] = 'MWh'

## SAVING AS CSV FILES

In [325]:
gen.to_csv("data/gen.csv", index = False)
demand.to_csv('data/demand.csv', index = False)
spain_global.to_csv('data/spain_golbal', index = False)
global_web.to_csv('data/global_web', index = False)