In [1]:
import pandas as pd

# RECOVER DATASETS SPAIN

In [65]:
spain_global = pd.read_csv('starting_data/spain_global.csv')

In [66]:
spain_global.head()

,project,type,country,unit,status,capacity,start_year,owner,lat,lng,url,aacc
0,Aboño power station,coal,Spain,Unit 1,operating,360.0,1974.0,HC Energia,43.55356,-5.72185,https://www.gem.wiki/Abo%C3%B1o_power_station,Asturias
1,Aboño power station,coal,Spain,Unit 2,operating,556.2,1985.0,HC Energia,43.55356,-5.72185,https://www.gem.wiki/Abo%C3%B1o_power_station,Asturias
2,Alcúdia power station,coal,Spain,Phase 2 Unit 1,retired,125.0,1981.0,GESA-Endesa,39.81075,3.09141,https://www.gem.wiki/Alcúdia_power_station,Baleares
3,Alcúdia power station,coal,Spain,Phase 2 Unit 2,retired,125.0,1982.0,GESA-Endesa,39.81075,3.09141,https://www.gem.wiki/Alcúdia_power_station,Baleares
4,Alcúdia power station,coal,Spain,Phase 2 Unit 3,operating,130.0,1997.0,GESA-Endesa,39.81075,3.09141,https://www.gem.wiki/Alcúdia_power_station,Baleares

In [67]:
gen = pd.read_csv('data/no_clean/df_generated_monthly_ccaa.csv')

In [68]:
gen.head()

,Unnamed: 0,class,type,date,value,percentage,aacc
0,0,Hidráulica,Renovable,2014-01-01,303.396,0.000421,Canarias
1,1,Motores diésel,No-Renovable,2014-01-01,181768.586,0.251957,Canarias
2,2,Turbina de gas,No-Renovable,2014-01-01,26245.404,0.036380,Canarias
3,3,Turbina de vapor,No-Renovable,2014-01-01,216697.507,0.300373,Canarias
4,4,Ciclo combinado,No-Renovable,2014-01-01,247173.544,0.342618,Canarias

In [69]:
demand = pd.read_csv('data/no_clean/year_demand.csv')

In [70]:
demand.head()

   Unnamed: 0    class  type        date        value  percentage       aacc
0           0  Demanda   NaN  2014-01-01   721426.992           1   Canarias
1           1  Demanda   NaN  2014-01-01   424810.960           1   Baleares
2           2  Demanda   NaN  2014-01-01    18805.790           1      Ceuta
3           3  Demanda   NaN  2014-01-01    17999.596           1    Melilla
4           4  Demanda   NaN  2014-01-01  3406748.087           1  Andalucía

In [71]:
global_web = pd.read_csv("starting_data/global/global_web.csv")

C:\Users\psaez\AppData\Local\Temp\ipykernel_57428\925216994.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  global_web = pd.read_csv("starting_data/global/global_web.csv")

In [72]:
global_web.sample()

,project,type,country,unit,status,capacity,start_year,owner,lat,lng,url
78470,Nueva Aldea power station,bioenergy,Chile,3,operating,136.0,2008.0,Arauco Bioenergía,-36.6604,-72.4702,https://gem.wiki/Nueva_Aldea_III_power_station

In [73]:
reservoir  = pd.read_excel('data/Embalses.xlsx')
reservoir.sample()

,DEMARCACIÓN HIDROGRÁFICA TERRESTRE,Superficie total de los embalses de la Demaración Hidrográfica- km2,aacc
4,DUERO,348.72,Castilla-Leon

## CLEANING DATA

#### 1- MATCH AUTONOMOUS COMMUNITIES

In [74]:
gen.sample()

,Unnamed: 0,class,type,date,value,percentage,aacc
125,125,Nuclear,No-Renovable,2014-01-01,781846.21,0.426125,Valenciana

In [75]:
demand.sample()

    Unnamed: 0    class  type        date       value  percentage         aacc
34          34  Demanda   NaN  2015-01-01  456054.476           1  Extremadura

In [76]:
spain_global.sample()

,project,type,country,unit,status,capacity,start_year,owner,lat,lng,url,aacc
182,Sagunto power station,oil_gas,Spain,3,operating,410.6,2007.0,Naturgy Energy Group SA,39.64248,-0.23321,https://www.gem.wiki/Sagunto_power_station,Valencia

In [77]:
spain_global.rename(columns={'ccaa':'aacc'}, inplace = True)

In [78]:
spain_global.sample()

,project,type,country,unit,status,capacity,start_year,owner,lat,lng,url,aacc
494,Cuadrejón solar farm,solar,Spain,NaN,pre-construction,61.2,NaN,NaN,37.6087,-4.6016,https://gem.wiki/Cuadrejón_solar_farm,Andalucia

In [79]:
gen.sample()

,Unnamed: 0,class,type,date,value,percentage,aacc
388,388,Residuos no renovables,Renovable,2016-01-01,30990.439,0.0289,Aragón

In [80]:
gen.rename(columns={"comunidad":'aacc'}, inplace = True)

In [81]:
gen.sample()

     Unnamed: 0   class       type        date      value  percentage    aacc
843         843  Eólica  Renovable  2018-01-01  71026.684    0.127976  Murcia

In [82]:
gen['aacc'].unique()

array(['Canarias', 'Baleares', 'Ceuta', 'Melilla', 'Andalucía', 'Aragón',
       'Cantabria', 'Castilla_la_Mancha', 'Castilla_León', 'Cataluña',
       'País_Vasco', 'Asturias', 'Madrid', 'Navarra', 'Valenciana',
       'Extremadura', 'Galicia', 'La_Rioja', 'Murcia'], dtype=object)

In [83]:
demand['aacc'].unique()

array(['Canarias', 'Baleares', 'Ceuta', 'Melilla', 'Andalucía', 'Aragón',
       'Cantabria', 'Castilla_la_Mancha', 'Castilla_León', 'Cataluña',
       'País_Vasco', 'Asturias', 'Madrid', 'Navarra', 'Valenciana',
       'Extremadura', 'Galicia', 'La_Rioja', 'Murcia'], dtype=object)

In [84]:
spain_global['aacc'].unique()

array(['Asturias', 'Baleares', 'Castilla-Leon', 'Galicia', 'Andalucia',
       'Cataluña', 'Cantabria', 'Aragon', 'Pais Vasco',
       'Castilla-La Mancha', 'La Rioja', nan, 'Canarias', 'Murcia',
       'Navarra', 'Valencia', 'Madrid', 'Melilla', 'Extremadura'],
      dtype=object)

In [85]:
reservoir['aacc'].unique()

array(['Galicia', 'Pais Vasco', 'Cantabria', 'Castilla-Leon',
       'Extremadura', 'Andalucia', 'Murcia', 'Valencia', 'Aragon',
       'Cataluña', 'Baleares', 'Canarias', 'Ceuta'], dtype=object)

In [86]:
aacc_dicc = {'Castilla_León': 'Castilla-Leon', 
             'Andalucía':'Andalucia',
             'Aragón':'Aragon',
            'País_Vasco':'Pais Vasco',
             'Castilla_la_Mancha':'Castilla-La Mancha', 
             'La_Rioja':'La Rioja',
             'Valenciana':'Valencia' }

In [87]:
spain_global['aacc'] = spain_global['aacc'].replace(aacc_dicc)

In [88]:
demand['aacc'] = demand['aacc'].replace(aacc_dicc)

In [89]:
gen['aacc'] = gen['aacc'].replace(aacc_dicc)

#### 2- 'date' columns to datetype

In [90]:
gen['date'] = pd.to_datetime(gen['date'])

In [91]:
demand['date'] = pd.to_datetime(demand['date'])

#### 3- type  of energy

In [92]:
spain_global.sample()

,project,type,country,unit,status,capacity,start_year,owner,lat,lng,url,aacc
748,La Serna solar farm,solar,Spain,NaN,pre-construction,49.5,NaN,Naturgy,41.8518,-4.2423,https://gem.wiki/La_Serna_solar_farm,Castilla-Leon

In [93]:
gen.sample()

,Unnamed: 0,class,type,date,value,percentage,aacc
513,513,Turbina de vapor,No-Renovable,2017-01-01,210591.342,0.282519,Canarias

In [94]:
global_web['type'].unique()

array(['coal', 'oil_gas', 'solar', 'wind', 'hydropower', 'geothermal',
       'bioenergy', 'nuclear'], dtype=object)

In [95]:
spain_global['type'].unique()

array(['coal', 'oil_gas', 'solar', 'wind', 'hydropower', 'bioenergy',
       'nuclear'], dtype=object)

In [96]:
gen['class'].unique()

array(['Hidráulica', 'Motores diésel', 'Turbina de gas',
       'Turbina de vapor', 'Ciclo combinado', 'Hidroeólica', 'Eólica',
       'Solar fotovoltaica', 'Otras renovables', 'Generación total',
       'Carbón', 'Cogeneración', 'Residuos no renovables',
       'Residuos renovables', 'Turbinación bombeo', 'Solar térmica',
       'Nuclear', 'Fuel + Gas'], dtype=object)

 we will try to unify as much as possible energies from gen dataframe and spain_global so , in order to do so we will:
 
     - change the name of the column 'type' in spain_global to class
     - consider both 'Solar Fotovoltaica' and 'Solar térmica' as 'solar'
  on the other hand we will create a dicctionary to replace names and unify whenever possible

In [97]:
spain_global.rename(columns ={'type':'class'}, inplace = True)

In [98]:
energy_dicc = {
    'Solar fotovoltaica':'solar',
    'Solar térmica': 'solar',
    'Hidroeólica':'hydropower',
    'Eolica': 'wind',
    'Carbón' : 'coal',
    'Nuclear' : 'nuclear',
    'Motores diésel':'oil_gas',
    'Turbina de gas':'oil_gas',
    'Turbina de vapor':'oil_gas',
    'Ciclo combinado':'oil_gas',
    'Otras renovables' : 'bioenergy',
    'Generación total' : 'others',
    'Cogeneración' : 'oil_gas',
    'Residuos no renovables': 'coal',
    'Residuos renovables':'bioenergy',
    'Turbinación bombeo':'hydropower',
    'Fuel + Gas' : 'oil_gas'
    }

In [99]:
gen['class'] = gen['class'].map(energy_dicc)

In [100]:
gen.sample()

     Unnamed: 0 class       type       date      value  percentage     aacc
457         457   NaN  Renovable 2016-01-01  62926.695    0.181273  Navarra

#### 4- units

According to the REE API, units for their values are MWh. In `spain_global`, not always are units given, and if they are, they are in MW. Therefore, to convert from MW to MWh, we simply need to multiply by the number of hours. As all requests to REE have been made for each month, we will multiply the capacity in `spain_global` by 720 (30 days * 24 hours) to unify units. After that, we will standardize all units to MWh in all dataframes for better understanding.

In [101]:
spain_global['capacity'] = spain_global['capacity'] * 720

In [102]:
global_web['capacity'] = global_web['capacity'] * 720

In [103]:
gen['unit'] = 'MWh'
demand['unit'] = 'MWh'
spain_global['unit'] = 'MWh'
global_web['unit'] = 'MWh'

## SAVING AS CSV FILES

In [104]:
gen.to_csv("data/gen.csv", index = False)
demand.to_csv('data/demand.csv', index = False)
spain_global.to_csv('data/spain_global.csv', index = False)
global_web.to_csv('data/global_web.csv', index = False)
reservoir.to_csv('data/reservoir.csv', index = False)