In [1]:
import pandas as pd

# RECOVER DATASETS SPAIN

In [76]:
spain_global = pd.read_csv('data/spain_global.csv')

In [77]:
spain_global.head()

,project,type,country,unit,status,capacity,start_year,owner,lat,lng,url,aacc
0,Aboño power station,coal,Spain,Unit 1,operating,360.0,1974.0,HC Energia,43.55356,-5.72185,https://www.gem.wiki/Abo%C3%B1o_power_station,Asturias
1,Aboño power station,coal,Spain,Unit 2,operating,556.2,1985.0,HC Energia,43.55356,-5.72185,https://www.gem.wiki/Abo%C3%B1o_power_station,Asturias
2,Alcúdia power station,coal,Spain,Phase 2 Unit 1,retired,125.0,1981.0,GESA-Endesa,39.81075,3.09141,https://www.gem.wiki/Alcúdia_power_station,Baleares
3,Alcúdia power station,coal,Spain,Phase 2 Unit 2,retired,125.0,1982.0,GESA-Endesa,39.81075,3.09141,https://www.gem.wiki/Alcúdia_power_station,Baleares
4,Alcúdia power station,coal,Spain,Phase 2 Unit 3,operating,130.0,1997.0,GESA-Endesa,39.81075,3.09141,https://www.gem.wiki/Alcúdia_power_station,Baleares

In [78]:
gen = pd.read_csv('data/df_generated_monthly_ccaa.csv')

In [79]:
gen.head()

,Unnamed: 0,class,type,date,value,percentage,aacc,comunidad
0,0,Hidráulica,Renovable,2014-01-01,303.396,0.000421,8742,Canarias
1,1,Motores diésel,No-Renovable,2014-01-01,181768.586,0.251957,8742,Canarias
2,2,Turbina de gas,No-Renovable,2014-01-01,26245.404,0.036380,8742,Canarias
3,3,Turbina de vapor,No-Renovable,2014-01-01,216697.507,0.300373,8742,Canarias
4,4,Ciclo combinado,No-Renovable,2014-01-01,247173.544,0.342618,8742,Canarias

In [80]:
demand = pd.read_csv('data/year_demand.csv')

In [81]:
demand.head()

   Unnamed: 0    class  type        date        value  percentage       aacc
0           0  Demanda   NaN  2014-01-01   721426.992           1   Canarias
1           1  Demanda   NaN  2014-01-01   424810.960           1   Baleares
2           2  Demanda   NaN  2014-01-01    18805.790           1      Ceuta
3           3  Demanda   NaN  2014-01-01    17999.596           1    Melilla
4           4  Demanda   NaN  2014-01-01  3406748.087           1  Andalucía

## CLEANING DATA

#### 1- MATCH AUTONOMOUS COMMUNITIES

In [82]:
gen.sample()

,Unnamed: 0,class,type,date,value,percentage,aacc,comunidad
509,509,Generación total,Generación total,2016-01-01,294501.202,1.0,21,Murcia

In [83]:
gen.drop(columns = 'aacc', inplace = True)

In [84]:
gen.sample()

,Unnamed: 0,class,type,date,value,percentage,comunidad
238,238,Generación total,Generación total,2015-01-01,2128438.872,1.0,Castilla_la_Mancha

In [85]:
demand.rename(columns={'comunidad': 'aacc'}, inplace=True)

In [86]:
demand.sample()

     Unnamed: 0    class  type        date       value  percentage     aacc
165         165  Demanda   NaN  2022-01-01  448017.748           1  Navarra

In [87]:
spain_global.sample()

,project,type,country,unit,status,capacity,start_year,owner,lat,lng,url,aacc
2438,Plans D'Estaras wind farm,wind,Spain,NaN,pre-construction,50.0,NaN,NaN,41.6918,1.3781,https://gem.wiki/Plans_D'Estaras_wind_farm,Cataluña

In [88]:
spain_global.rename(columns={'ccaa':'aacc'}, inplace = True)

In [89]:
spain_global.sample()

,project,type,country,unit,status,capacity,start_year,owner,lat,lng,url,aacc
1670,El Coto wind farm,wind,Spain,NaN,operating,20.0,NaN,NaN,41.3787,-0.7639,https://gem.wiki/El_Coto_wind_farm,Aragon

In [90]:
gen.sample()

,Unnamed: 0,class,type,date,value,percentage,comunidad
424,424,Solar fotovoltaica,Renovable,2016-01-01,19332.045,0.005053,Cataluña

In [91]:
gen.rename(columns={"comunidad":'aacc'}, inplace = True)

In [92]:
gen.sample()

,Unnamed: 0,class,type,date,value,percentage,aacc
563,563,Eólica,Renovable,2017-01-01,7822.318,0.044496,Cantabria

In [97]:
gen['aacc'].unique()

array(['Canarias', 'Baleares', 'Ceuta', 'Melilla', 'Andalucía', 'Aragón',
       'Cantabria', 'Castilla_la_Mancha', 'Castilla_León', 'Cataluña',
       'País_Vasco', 'Asturias', 'Madrid', 'Navarra', 'Valenciana',
       'Extremadura', 'Galicia', 'La_Rioja', 'Murcia'], dtype=object)

In [98]:
demand['aacc'].unique()

array(['Canarias', 'Baleares', 'Ceuta', 'Melilla', 'Andalucía', 'Aragón',
       'Cantabria', 'Castilla_la_Mancha', 'Castilla_León', 'Cataluña',
       'País_Vasco', 'Asturias', 'Madrid', 'Navarra', 'Valenciana',
       'Extremadura', 'Galicia', 'La_Rioja', 'Murcia'], dtype=object)

In [99]:
spain_global['aacc'].unique()

array(['Asturias', 'Baleares', 'Castilla-Leon', 'Galicia', 'Andalucia',
       'Cataluña', 'Cantabria', 'Aragon', 'Pais Vasco',
       'Castilla-La Mancha', 'La Rioja', nan, 'Canarias', 'Murcia',
       'Navarra', 'Valencia', 'Madrid', 'Melilla', 'Extremadura'],
      dtype=object)

In [100]:
aacc_dicc = {'Castilla-Leon': 'Castilla_León', 
             'Andalucia':'Andalucía','Aragon':'Aragón',
            'Pais Vasco':'País_Vasco',
             'Castilla-La Mancha':'Castilla_la_Mancha', 
             'La Rioja':'La_Rioja',
             'Valenciana':'Valencia' }

In [101]:
spain_global['aacc'] = spain_global['aacc'].replace(aacc_dicc)

In [102]:
demand['aacc'] = demand['aacc'].replace(aacc_dicc)

In [103]:
gen['aacc'] = gen['aacc'].replace(aacc_dicc)