In [1]:
import pandas as pd
import pymysql 
import sqlalchemy as alch 
from getpass import getpass
from dotenv import load_dotenv
import os

#### STEP 1 : importing the databases

In [46]:
gen = pd.read_csv('data/gen.csv')
demand = pd.read_csv('data/demand.csv')
global_web = pd.read_csv('data/global_web.csv')
reservoir = pd.read_csv('data/reservoir.csv')
spain_global =pd.read_csv('data/spain_global.csv')

C:\Users\psaez\AppData\Local\Temp\ipykernel_57512\2461380447.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  global_web = pd.read_csv('data/global_web.csv')

#### STEP 2 : exporting databases to folder MySQL with encoding latin 1

In [56]:
spain_global.to_csv('SQL/spain_global_sql.csv', encoding='latin1', index=False)

In [57]:
reservoir.to_csv('SQL/reservoir_sql.csv', encoding='latin1', index=False)

In [54]:
for column in ['project', 'type', 'country', 'unit', 'status', 'owner', 'url']:
    global_web[column] = global_web[column].apply(lambda x: x.encode('utf-8').decode('latin-1', 'ignore') if isinstance(x, str) else x)

global_web.to_csv('SQL/global_web_sql.csv', encoding='latin-1', index=False)

In [55]:
global_web.to_csv('SQL/global_web_sql.csv', encoding='latin1', index=False)

In [58]:
gen.to_csv('SQL/gen_sql.csv', encoding='latin1', index=False)

In [59]:
demand.to_csv('SQL/demand_sql.csv', encoding='latin1', index=False)

In [63]:
demand['date'] = pd.to_datetime(demand['date'])

In [66]:
demand.sample()

     Unnamed: 0    class  type       date      value  percentage     aacc unit
117         117  Demanda   NaN 2020-01-01  17812.714           1  Melilla  MWh

In [72]:
d =demand[(demand['date'].dt.year == 2022) & (demand['aacc'] == 'Cataluña')]['value'].sum()
g = gen[(gen['date'].dt.year == 2022) & (gen['aacc'] == 'Cataluña')]['value'].sum()
g-d

3419011.8689999995

In [70]:
gen['date'] = pd.to_datetime(gen['date'])

In [75]:
global_web['type'].count()

81402

In [76]:
global_web.shape

(81402, 11)