In [1]:
import pandas as pd
from src import queries

In [2]:
communities_dicc= {
                8742:'canarias', 
                8743:'baleares',
                8744:'ceuta',
                8745:'melilla',
                4:'Andalucía',
                5:'Aragón',
                6:'Cantabria',
                7:'Castilla_la_Mancha',
                8:'Castilla_León',
                9:'Cataluña',
                10:'País_Vasco',
                11:'Asturias',
                8744:'Ceuta',
                8745:'Melilla',
                13:'Madrid',
                14:'Navarra', 
                15:'Valenciana',
                16:'Extremadura', 
                17:'Galicia',
                8743:'Baleares',
                8742:'Canarias',
                20:'La_Rioja',
                21:'Murcia',
                }

In [3]:
years =[2014,2015,2016,2017,2018,2019,2020,2021,2022,2023]

In [4]:
df = queries.ree_yearly(years,communities_dicc)

In [5]:
df

,class,type,date,value,percentage,aacc
0,Hidráulica,Renovable,2014-01-01,303.396,0.000421,Canarias
1,Motores diésel,No-Renovable,2014-01-01,181768.586,0.251957,Canarias
2,Turbina de gas,No-Renovable,2014-01-01,26245.404,0.036380,Canarias
3,Turbina de vapor,No-Renovable,2014-01-01,216697.507,0.300373,Canarias
4,Ciclo combinado,No-Renovable,2014-01-01,247173.544,0.342618,Canarias
...,...,...,...,...,...,...
1687,Solar fotovoltaica,Renovable,2023-01-01,136319.048,0.224809,Murcia
1688,Solar térmica,Renovable,2023-01-01,1259.723,0.002077,Murcia
1689,Otras renovables,Renovable,2023-01-01,2356.086,0.003886,Murcia
1690,Cogeneración,No-Renovable,2023-01-01,76614.473,0.126348,Murcia
1691,Generación total,Generación total,2023-01-01,606378.040,1.000000,Murcia

In [6]:
df["comunidad"] = df["aacc"].map(communities_dicc)

In [7]:
df.drop(columns = 'comunidad', inplace=True)

In [8]:
df

,class,type,date,value,percentage,aacc
0,Hidráulica,Renovable,2014-01-01,303.396,0.000421,Canarias
1,Motores diésel,No-Renovable,2014-01-01,181768.586,0.251957,Canarias
2,Turbina de gas,No-Renovable,2014-01-01,26245.404,0.036380,Canarias
3,Turbina de vapor,No-Renovable,2014-01-01,216697.507,0.300373,Canarias
4,Ciclo combinado,No-Renovable,2014-01-01,247173.544,0.342618,Canarias
...,...,...,...,...,...,...
1687,Solar fotovoltaica,Renovable,2023-01-01,136319.048,0.224809,Murcia
1688,Solar térmica,Renovable,2023-01-01,1259.723,0.002077,Murcia
1689,Otras renovables,Renovable,2023-01-01,2356.086,0.003886,Murcia
1690,Cogeneración,No-Renovable,2023-01-01,76614.473,0.126348,Murcia
1691,Generación total,Generación total,2023-01-01,606378.040,1.000000,Murcia

In [9]:
df.to_csv("data/no_clean, df_generated_monthly_ccaa.csv", index = False)