In [1]:
from matplotlib import pyplot as plt
import pandas as pd
import seaborn as sns

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
pd.set_option('display.max_columns',None)

In [41]:
spain = pd.read_csv('data/spain_global.csv')

In [42]:
spain.head()

,project,class,country,unit,status,capacity,start_year,owner,lat,lng,url,aacc
0,Aboño power station,coal,Spain,MWh,operating,259200.0,1974.0,HC Energia,43.55356,-5.72185,https://www.gem.wiki/Abo%C3%B1o_power_station,Asturias
1,Aboño power station,coal,Spain,MWh,operating,400464.0,1985.0,HC Energia,43.55356,-5.72185,https://www.gem.wiki/Abo%C3%B1o_power_station,Asturias
2,Alcúdia power station,coal,Spain,MWh,retired,90000.0,1981.0,GESA-Endesa,39.81075,3.09141,https://www.gem.wiki/Alcúdia_power_station,Baleares
3,Alcúdia power station,coal,Spain,MWh,retired,90000.0,1982.0,GESA-Endesa,39.81075,3.09141,https://www.gem.wiki/Alcúdia_power_station,Baleares
4,Alcúdia power station,coal,Spain,MWh,operating,93600.0,1997.0,GESA-Endesa,39.81075,3.09141,https://www.gem.wiki/Alcúdia_power_station,Baleares

In [43]:
spain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2987 entries, 0 to 2986
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   project     2987 non-null   object
 1   class       2987 non-null   object
 2   country     2987 non-null   object
 3   unit        2987 non-null   object
 4   status      2987 non-null   object
 5   capacity    2987 non-null   float64
 6   start_year  1526 non-null   float64
 7   owner       2385 non-null   object
 8   lat         2987 non-null   float64
 9   lng         2987 non-null   float64
 10  url         2987 non-null   object
 11  aacc        2919 non-null   object
dtypes: float64(4), object(8)
memory usage: 280.2+ KB

In [44]:
gen = pd.read_csv('data/gen.csv')

In [45]:
gen.shape

(1692, 8)

In [46]:
result = gen[(gen['aacc'] == 'Madrid') & (gen['class'] == 'solar')]
result.shape

(10, 8)

In [47]:
dem = pd.read_csv("data/demand.csv")

In [48]:
dem.sample()

,Unnamed: 0,class,type,date,value,percentage,aacc,unit
77,77,Demanda,NaN,2018-01-01,436553.899,1,Baleares,MWh

In [49]:
dem['aacc'].unique()

array(['Canarias', 'Baleares', 'Ceuta', 'Melilla', 'Andalucia', 'Aragon',
       'Cantabria', 'Castilla-La Mancha', 'Castilla-Leon', 'Cataluña',
       'Pais Vasco', 'Asturias', 'Madrid', 'Navarra', 'Valencia',
       'Extremadura', 'Galicia', 'La Rioja', 'Murcia'], dtype=object)

In [50]:
prueba.head(10)

,Unnamed: 0,class,type,date,value,percentage,aacc,unit
9,9,Demanda,NaN,2014-01-01,4100446.945,1,Cataluña,MWh
28,28,Demanda,NaN,2015-01-01,4166773.739,1,Cataluña,MWh
47,47,Demanda,NaN,2016-01-01,3979236.621,1,Cataluña,MWh
66,66,Demanda,NaN,2017-01-01,4327712.209,1,Cataluña,MWh
85,85,Demanda,NaN,2018-01-01,4140577.062,1,Cataluña,MWh
104,104,Demanda,NaN,2019-01-01,4346165.016,1,Cataluña,MWh
123,123,Demanda,NaN,2020-01-01,4180533.867,1,Cataluña,MWh
142,142,Demanda,NaN,2021-01-01,4205890.778,1,Cataluña,MWh
161,161,Demanda,NaN,2022-01-01,3978813.799,1,Cataluña,MWh
180,180,Demanda,NaN,2023-01-01,3444370.992,1,Cataluña,MWh

In [52]:
spain[spain['aacc']== 'Castilla-Leon']

,project,class,country,unit,status,capacity,start_year,owner,lat,lng,url,aacc
6,Anllares power station,coal,Spain,MWh,retired,262800.0,1982.0,Termicas de Anllares,42.83926,-6.53328,https://www.gem.wiki/Anllares_power_station,Castilla-Leon
15,Compostilla power station,coal,Spain,MWh,retired,101520.0,1961.0,Endesa SA,42.61218,-6.56455,https://www.gem.wiki/Compostilla_power_station,Castilla-Leon
16,Compostilla power station,coal,Spain,MWh,retired,106488.0,1965.0,Endesa SA,42.61218,-6.56455,https://www.gem.wiki/Compostilla_power_station,Castilla-Leon
17,Compostilla power station,coal,Spain,MWh,retired,242784.0,1972.0,Endesa SA,42.61218,-6.56455,https://www.gem.wiki/Compostilla_power_station,Castilla-Leon
18,Compostilla power station,coal,Spain,MWh,retired,258192.0,1981.0,Endesa SA,42.61218,-6.56455,https://www.gem.wiki/Compostilla_power_station,Castilla-Leon
...,...,...,...,...,...,...,...,...,...,...,...,...
2950,Villacampo hydroelectric plant,hydropower,Spain,MWh,operating,156960.0,1949.0,Iberdrola,41.49110,-6.08530,https://gem.wiki/Villacampo_hydroelectric_plant,Castilla-Leon
2951,Villarino hydroelectric plant,hydropower,Spain,MWh,operating,583200.0,1970.0,Iberdrola,41.25500,-6.48740,https://gem.wiki/Villarino_hydroelectric_plant,Castilla-Leon
2952,Cubillos del Sil power station,bioenergy,Spain,MWh,operating,36000.0,2020.0,Fuerzas Energéticas del Sur de Europa I SL,42.62350,-6.56850,https://gem.wiki/Cubillos_del_Sil_power_station,Castilla-Leon
2979,Santa Maria De Garona nuclear power plant,nuclear,Spain,MWh,retired,335520.0,1971.0,Nuclenor SA,42.77501,-3.20701,https://gem.wiki/Santa_Maria_De_Garona_nuclear...,Castilla-Leon
2980,Sayago nuclear power plant,nuclear,Spain,MWh,cancelled,774000.0,NaN,Iberduero SA,41.48401,-6.08020,https://gem.wiki/Sayago_nuclear_power_plant,Castilla-Leon