In [1]:
import pandas as pd

# RECOVER DATASETS SPAIN

In [131]:
spain_global = pd.read_csv('data/spain_global.csv')

In [132]:
spain_global.head()

,project,type,country,unit,status,capacity,start_year,owner,lat,lng,url,aacc
0,Aboño power station,coal,Spain,Unit 1,operating,360.0,1974.0,HC Energia,43.55356,-5.72185,https://www.gem.wiki/Abo%C3%B1o_power_station,Asturias
1,Aboño power station,coal,Spain,Unit 2,operating,556.2,1985.0,HC Energia,43.55356,-5.72185,https://www.gem.wiki/Abo%C3%B1o_power_station,Asturias
2,Alcúdia power station,coal,Spain,Phase 2 Unit 1,retired,125.0,1981.0,GESA-Endesa,39.81075,3.09141,https://www.gem.wiki/Alcúdia_power_station,Baleares
3,Alcúdia power station,coal,Spain,Phase 2 Unit 2,retired,125.0,1982.0,GESA-Endesa,39.81075,3.09141,https://www.gem.wiki/Alcúdia_power_station,Baleares
4,Alcúdia power station,coal,Spain,Phase 2 Unit 3,operating,130.0,1997.0,GESA-Endesa,39.81075,3.09141,https://www.gem.wiki/Alcúdia_power_station,Baleares

In [151]:
gen = pd.read_csv('data/df_generated_monthly_ccaa.csv')

In [152]:
gen.head()

,Unnamed: 0,class,type,date,value,percentage,aacc
0,0,Hidráulica,Renovable,2014-01-01,303.396,0.000421,Canarias
1,1,Motores diésel,No-Renovable,2014-01-01,181768.586,0.251957,Canarias
2,2,Turbina de gas,No-Renovable,2014-01-01,26245.404,0.036380,Canarias
3,3,Turbina de vapor,No-Renovable,2014-01-01,216697.507,0.300373,Canarias
4,4,Ciclo combinado,No-Renovable,2014-01-01,247173.544,0.342618,Canarias

In [153]:
demand = pd.read_csv('data/year_demand.csv')

In [154]:
demand.head()

   Unnamed: 0    class  type        date        value  percentage       aacc
0           0  Demanda   NaN  2014-01-01   721426.992           1   Canarias
1           1  Demanda   NaN  2014-01-01   424810.960           1   Baleares
2           2  Demanda   NaN  2014-01-01    18805.790           1      Ceuta
3           3  Demanda   NaN  2014-01-01    17999.596           1    Melilla
4           4  Demanda   NaN  2014-01-01  3406748.087           1  Andalucía

## CLEANING DATA

#### 1- MATCH AUTONOMOUS COMMUNITIES

In [155]:
gen.sample()

,Unnamed: 0,class,type,date,value,percentage,aacc
1344,1344,Eólica,Renovable,2021-01-01,126564.559,0.458834,La_Rioja

In [156]:
demand.sample()

,Unnamed: 0,class,type,date,value,percentage,aacc
105,105,Demanda,NaN,2019-01-01,1566908.501,1,País_Vasco

In [157]:
spain_global.sample()

,project,type,country,unit,status,capacity,start_year,owner,lat,lng,url,aacc
2595,Santo Domingo De La Luna wind farm,wind,Spain,NaN,operating,23.0,2019.0,Enel Green Power España,42.067,-0.882,https://gem.wiki/Santo_Domingo_De_La_Luna_wind...,Aragon

In [158]:
spain_global.rename(columns={'ccaa':'aacc'}, inplace = True)

In [159]:
spain_global.sample()

,project,type,country,unit,status,capacity,start_year,owner,lat,lng,url,aacc
618,Gasset solar farm,solar,Spain,NaN,construction,151.9,2023.0,Green Capital Power,40.4186,-3.7996,https://gem.wiki/Gasset_solar_farm,Madrid

In [160]:
gen.sample()

,Unnamed: 0,class,type,date,value,percentage,aacc
1174,1174,Hidráulica,Renovable,2020-01-01,17105.815,0.094065,La_Rioja

In [161]:
gen.rename(columns={"comunidad":'aacc'}, inplace = True)

In [162]:
gen.sample()

,Unnamed: 0,class,type,date,value,percentage,aacc
804,804,Turbinación bombeo,No-Renovable,2018-01-01,131227.09,0.083509,Valenciana

In [163]:
gen['aacc'].unique()

array(['Canarias', 'Baleares', 'Ceuta', 'Melilla', 'Andalucía', 'Aragón',
       'Cantabria', 'Castilla_la_Mancha', 'Castilla_León', 'Cataluña',
       'País_Vasco', 'Asturias', 'Madrid', 'Navarra', 'Valenciana',
       'Extremadura', 'Galicia', 'La_Rioja', 'Murcia'], dtype=object)

In [164]:
demand['aacc'].unique()

array(['Canarias', 'Baleares', 'Ceuta', 'Melilla', 'Andalucía', 'Aragón',
       'Cantabria', 'Castilla_la_Mancha', 'Castilla_León', 'Cataluña',
       'País_Vasco', 'Asturias', 'Madrid', 'Navarra', 'Valenciana',
       'Extremadura', 'Galicia', 'La_Rioja', 'Murcia'], dtype=object)

In [165]:
spain_global['aacc'].unique()

array(['Asturias', 'Baleares', 'Castilla-Leon', 'Galicia', 'Andalucia',
       'Cataluña', 'Cantabria', 'Aragon', 'Pais Vasco',
       'Castilla-La Mancha', 'La Rioja', nan, 'Canarias', 'Murcia',
       'Navarra', 'Valencia', 'Madrid', 'Melilla', 'Extremadura'],
      dtype=object)

In [166]:
aacc_dicc = {'Castilla-Leon': 'Castilla_León', 
             'Andalucia':'Andalucía','Aragon':'Aragón',
            'Pais Vasco':'País_Vasco',
             'Castilla-La Mancha':'Castilla_la_Mancha', 
             'La Rioja':'La_Rioja',
             'Valenciana':'Valencia' }

In [167]:
spain_global['aacc'] = spain_global['aacc'].replace(aacc_dicc)

In [168]:
demand['aacc'] = demand['aacc'].replace(aacc_dicc)

In [169]:
gen['aacc'] = gen['aacc'].replace(aacc_dicc)

#### 2- 'date' columns to datetype

In [170]:
gen['date'] = pd.to_datetime(gen['date'])

In [171]:
demand['date'] = pd.to_datetime(demand['date'])

#### 3- type  of energy

according to REE API units for their values are MWh

In [180]:
spain_global.sample()

,project,type,country,unit,status,capacity,start_year,owner,lat,lng,url,aacc
234,Aldea de San Miguel solar farm,solar,Spain,NaN,pre-construction,69.0,NaN,BayWa r.e.,41.6737,-4.7669,https://gem.wiki/Aldea_de_San_Miguel_solar_farm,Castilla_León

In [199]:
gen.sample()

,Unnamed: 0,class,type,date,value,percentage,aacc
496,496,Ciclo combinado,No-Renovable,2016-01-01,51264.957,0.337222,La_Rioja

In [188]:
spain_global['type'].unique()

array(['coal', 'oil_gas', 'solar', 'wind', 'hydropower', 'bioenergy',
       'nuclear'], dtype=object)

In [198]:
gen['class'].unique()

array(['Hidráulica', 'Motores diésel', 'Turbina de gas',
       'Turbina de vapor', 'Ciclo combinado', 'Hidroeólica', 'Eólica',
       'Solar fotovoltaica', 'Otras renovables', 'Generación total',
       'Carbón', 'Cogeneración', 'Residuos no renovables',
       'Residuos renovables', 'Turbinación bombeo', 'Solar térmica',
       'Nuclear', 'Fuel + Gas'], dtype=object)

 we will try to unify as much as possible energies from gen dataframe and spain_global so , in order to do so we will:
 
     - change the name of the column 'type' in spain_global to class
     - consider both 'Solar Fotovoltaica' and 'Solar térmica' as 'solar'
  on the other hand we will create a dicctionary to replace names and unify whenever possible

In [200]:
spain_global.rename(columns ={'type':'class'}, inplace = True)

In [202]:
energy_dicc = {
    ['Solar fotovoltaica', 'Solar térmica'] : 'solar',
    'Hidroeólica':'hydropower',
}

,project,class,country,unit,status,capacity,start_year,owner,lat,lng,url,aacc
1033,Santa Cristina solar farm,solar,Spain,NaN,pre-construction,68.4,NaN,NaN,41.77,-4.2093,https://gem.wiki/Santa_Cristina_solar_farm,Castilla_León