In [34]:
with open('../../ejemplo.txt') as f:
    lines = f.readlines()

FileNotFoundError: [Errno 2] No such file or directory: '../../ejemplo.txt'

In [20]:
from matplotlib import pyplot as plt
import pandas as pd
import seaborn as sns

In [21]:
import warnings
warnings.filterwarnings("ignore")

In [22]:
pd.set_option("display.max_columns",None)

In [32]:
import json

# Especifica la ruta al archivo JSON
ruta_json = 'https://servicios.ine.es/wstempus/jsCache/es/DATOS_TABLA/26061?tip=AM&'

# Abre el archivo JSON y carga los datos
with open(ruta_json, 'r', encoding='utf-8') as archivo:
    datos_json = json.load(archivo)

# Ahora, 'datos_json' contiene el contenido del archivo JSON
# Puedes imprimirlo para verificar
print(datos_json)

OSError: [Errno 22] Invalid argument: 'https://servicios.ine.es/wstempus/jsCache/es/DATOS_TABLA/26061?tip=AM&'

In [29]:
df=pd.read_csv("C:/Users/psaez/Downloads/26061.csv")

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xf3 in position 26: invalid continuation byte

In [13]:
df2.head()

,countryCode,thematicIdIdentifier,thematicIdIdentifierScheme,monitoringSiteIdentifier,monitoringSiteIdentifierScheme,monitoringSiteName,waterBodyIdentifier,waterBodyIdentifierScheme,waterBodyName,specialisedZoneType,naturalAWBHMWB,reservoir,surfaceWaterBodyTypeCode,subUnitIdentifier,subUnitIdentifierScheme,subUnitName,rbdIdentifier,rbdIdentifierScheme,rbdName,confidentialityStatus,lat,lon
0,AL,ALGW_011,eionetGroundWaterBodyCode,NaN,NaN,NaN,ALGW_011,eionetGroundWaterBodyCode,1 -DOBRAC,groundWaterBody,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inapplicable,NaN,NaN
1,AL,ALGW_021,eionetGroundWaterBodyCode,NaN,NaN,NaN,ALGW_021,eionetGroundWaterBodyCode,50 BARBULLONJE,groundWaterBody,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inapplicable,NaN,NaN
2,AL,ALGW_022,eionetGroundWaterBodyCode,NaN,NaN,NaN,ALGW_022,eionetGroundWaterBodyCode,26 FUSHE KUQE,groundWaterBody,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inapplicable,NaN,NaN
3,AL,ALGW_031,eionetGroundWaterBodyCode,NaN,NaN,NaN,ALGW_031,eionetGroundWaterBodyCode,5 KRASTE -ELBASAN,groundWaterBody,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inapplicable,NaN,NaN
4,AL,ALGW_034,eionetGroundWaterBodyCode,NaN,NaN,NaN,ALGW_034,eionetGroundWaterBodyCode,17 A VIDHAS,groundWaterBody,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inapplicable,NaN,NaN

In [14]:
df2.shape

(71843, 22)

In [16]:
df2.isna().sum()

countryCode                           0
thematicIdIdentifier                  0
thematicIdIdentifierScheme            0
monitoringSiteIdentifier           1717
monitoringSiteIdentifierScheme     1717
monitoringSiteName                 1717
waterBodyIdentifier                2105
waterBodyIdentifierScheme          2105
waterBodyName                      2105
specialisedZoneType                2105
naturalAWBHMWB                    39491
reservoir                         39491
surfaceWaterBodyTypeCode          39491
subUnitIdentifier                 37729
subUnitIdentifierScheme           37729
subUnitName                       37729
rbdIdentifier                      2939
rbdIdentifierScheme                2939
rbdName                            2939
confidentialityStatus                 0
lat                               14357
lon                               14357
dtype: int64

In [17]:
df3=pd.read_csv("C:/Users/psaez/Downloads/Waterbase_v2022_1_S_WISE6_SpatialObject_DerivedData.csv")

In [18]:
df3.sample()

,countryCode,thematicIdIdentifier,thematicIdIdentifierScheme,monitoringSiteIdentifier,monitoringSiteIdentifierScheme,monitoringSiteName,waterBodyIdentifier,waterBodyIdentifierScheme,waterBodyName,specialisedZoneType,naturalAWBHMWB,reservoir,surfaceWaterBodyTypeCode,subUnitIdentifier,subUnitIdentifierScheme,subUnitName,rbdIdentifier,rbdIdentifierScheme,rbdName,confidentialityStatus,lat,lon
14462,EL,EL0009000400030100N500,euMonitoringSiteCode,EL0009000400030100N500,euMonitoringSiteCode,AG GERMANOS,EL0901R000001019N,euSurfaceWaterBodyCode,AGIOS GERMANOS STARA R,riverWaterBody,Natural,Missing,R-M1,EL09,euSubUnitCode,WESTERN MACEDONIA,EL09,euRBDCode,WESTERN MACEDONIA,F,40.83666,21.13954

In [28]:
df=pd.read_csv("C:/Users/psaez/Downloads/54626.csv")

ParserError: Error tokenizing data. C error: Expected 1 fields in line 27, saw 3

In [23]:
df.head()

  Indicador;Tipo de enseñanza;Nivel de estudios en curso;Total
0                 Gasto Total;Total;Total;11.971.768
1     Gasto Total;Total;Educación Infantil;1.440.229
2     Gasto Total;Total;Educación Primaria;2.055.867
3   Gasto Total;Total;Educación Secundaria;2.601.640
4     Gasto Total;Total;Educación Superior;5.874.031